.User-Card {
    width: 309px;
    height: 300px;
    padding: 24px;
    margin: 10px; 
    flex-wrap: wrap; 
    background-color: white;
    box-shadow: 0px 20px 50px 0px #12112714;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    font-weight: 600;
    line-height: 24.2px;
    text-align: left;
}

