.User-Card {
    width: 309px;
    height: 300px;
    padding: 24px;
    margin: 10px;
    flex-wrap: wrap;
    background-color: white;
    box-shadow: 0 20px 50px 0 #12112714;
    box-sizing: border-box;
    font-size: 15px;
    font-weight: 600;
    line-height: 24px;
    text-align: left;
}

